body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cce7ff;
    font-family: Times New Roman, sans-serif;
}

.calculator {
    background: black;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
